body {
    margin:0;
    padding:0;
    font-family: 'Cambo';
}

#container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    background: #E2F6F6;
}

header {
    display: flex;
    justify-content: space-around;
    background: white;
    grid-column: 1/7;
}

header ul {
	margin: 0;
	text-align: center;
    display: flex;
    align-items: center;
}

header li {
    display: inline-block;
    font-weight: bold;
    font-size: 24px;
    padding: 25px ;
}

header a {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
}

#logo {
    padding: 20px;
}

#logo img {
    width: 250px;
}


main {
    background: #D8F4F5;
    padding: 40px;
    margin-top: 100px;
    margin-bottom: 100px;
    grid-column: 2/6;
}

/*Grades Page*/

#mainGrades {
    background: #D8F4F5;
    margin-top: 100px;
    margin-bottom: 100px;
    grid-column: 2/6;
    padding-bottom: 100px;
}

#gradesTitle  a {
    text-decoration: none;
	color: black;
}

#gradesContent {
    display: flex;
    justify-content: center;
}

#gradesTitle {
    margin: 0px;
    display: flex;
    justify-content: flex-end;
}

#leerlingButton {
    display: flex;
    background-color: white;
    justify-content: center;
    width: 150px;
    height: 40px;  
    align-items: center;
}

#gradesContent > table {
    border-spacing: 0 5px;
    margin-top: 50px;
}

.subjectTable {
    display: flex;
    width: 350px;
    background-color: white;
}

.semesterTable {
    width: 120px;
    height: 50px;
    background-color: white;
}

#gradesContent a {
    text-decoration: none;
	color: black;
}